.login{
    margin-top: 28px;
    margin-right: 20px;
    float: right;
}
.registro{
    margin-top: 28px;
    margin-right: 10px;
}
.login a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    background-color: gray;
    color: white;
    border-radius: 4px;
    box-shadow: 3px 3px 3px black;
    transition: 0.2s;
}
.registro a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    background-color: gray;
    color: white;
    border-radius: 4px;
    box-shadow: 3px 3px 3px black;
}
.login a:hover{
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 4px;
    box-shadow: 3px 3px 3px black;
    transition: 0.2s;
}
.registro a:hover{
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 4px;
    box-shadow: 3px 3px 3px black;
    transition: 0.2s;
}
.nosotros h2{
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nosotros p{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imagen{
    text-align: center;
}
