{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/plantilla_admin.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Produccion</title>
    <link rel="shortcut icon" href="{% static 'img/logo1.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/actividades/actividades.css' %}">
</head>
<body>
    <style>
        body{
            background-image: url("{% static 'image/fondo1.png' %}");
        }
    </style>
    <nav class="nav">
        <div class="logo">
            <img src="{% static 'image/logo1.png' %}" alt="" width="80px">
        </div>
        <div class="titulo">
            <p><a href="{% url 'home' %}">TCM</a></p>
        </div>
    </nav>
    <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-1.41,31.09 C202.31,56.75 329.85,-38.95 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #000000;"></path></svg></div>
    <div class="container" id="procesos">
        <h2 class="borde2">Solicitudes de {{user.first_name}}</h2>
        <div class="tabla2">
            <table>
                <tr>
                    <th>Fecha</th>
                    <th>Servicio</th>
                    <th>Cantidad</th>
                    <th>Pago</th>
                    <th>Completada</th>
                </tr>
                {% for sale in sales %}
                    <tr>
                        <td>{{sale.date}}</td>
                        <td>{{sale.service.name}}</td>
                        <td>{{sale.amount}}</td>
                        <td>{{sale.pay}}</td>
                        <td>{% if sale.completed == 1 %}
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"/>
                              </svg>
                            {% else %}
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                              </svg>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6" id="paginator">
                <div class="paginador"></div>
            </div>
        </div>
    </div>
    <div class="wavy" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-0.27,93.27 C143.62,233.39 358.07,35.05 504.79,98.20 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #000000;"></path></svg></div>
    <div class="footer">
        <div class="copy">
        <p>Derechos reservados 2023-2024 &copy;</p>
        </div>
        <div class="contacto">
            <h2>¿Deseas comunicarte con nosotros?, ¡Contáctanos!</h2>
            <div class="contactos">
                <p>Dirección: KR 104 A BIS NO 61 A SUR - 49</p>
                <p>Teléfono: 315 - 296 - 0105</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>